
.bg{

    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    font-family: cursive;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: A73D27;
    color: white;
}
input[type=submit] {
    width: 120px;
    height: 30px;
    background-color: #87ebde;
    color: white;
    padding: 8px 20px;
    margin: -15px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
input[type=submit]:hover {
    background-color: #EE3C18;
    }
.welcome{
background-color: #76b174;
}
h1 {
font-family: cursive;
text-align: center;
}
h2{

font-family: cursive;
text-align: center;
}
h3 {
font-family: cursive;
text-align: center;
}
p {
font-family: cursive;
color: #fff;
text-align: rigth;
}